*{
    margin: 0;
    padding: 0;
}
.addEvent{
    font-size: 18px;
    font-weight: 900;
}
.addEvent div{
    margin-bottom: 10px;
}
.affirm{
    margin-top: 10px;
    padding-left: 80%;
}
.affirm .ant-btn{
    margin-left: 15px;
}